<div class="history-cards">
  <h1>Historique des recherches</h1>
  <div class="cards-list" *ngIf="results && groupedResults">
    <div class="card" *ngFor="let result of groupedResults">
      <mat-card>
        <mat-card-title>{{ result[0].keyword }}</mat-card-title>
        <mat-card-subtitle>
          {{ result[0].search_date | date: "dd/MM/yyyy" }}
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-button (click)="deleteSearch(result[0].keyword_id)">
            SUPPRIMER
          </button>
          <button mat-button>EXPORTER</button>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
  </div>
</div>
