<div class="container">
  <header>
    <img class="logo" src="../assets/logo.png" />
    <h1>Extraction des données de Twitter</h1>
  </header>
  <div class="search-input">
    <!-- Search form -->
    <div *ngIf="error" class="error-msg">
      <i class="icon">&#9747;</i>{{ error }}
    </div>
    <form *ngIf="searchForm" [formGroup]="searchForm">
      <label>
        <input
          type="text"
          placeholder="Recherche par hashtag ..."
          [formControlName]="'searchField'"
          required
        />
      </label>
      <button hidden="hidden" (click)="search()">Rechercher</button>
    </form>
  </div>

  <!-- Results -->
  <div class="results" *ngIf="tweets">
    <!--Résultats : {{ tweets.statuses.length }}-->

    <!-- If there's no results -->
    <div class="tweets-empty" *ngIf="isEmpty">No results found</div>

    <div
      class="tweet-wrap"
      *ngFor="
        let tweet of tweets.statuses
          | paginate: { itemsPerPage: 4, currentPage: page }
      "
    >
      <div class="tweet-header">
        <div>
          <img class="avator" [attr.src]="tweet.user.profile_image_url" />
          <div class="tweet-header-info">
            {{ tweet.user.name }}
            <span>@{{ tweet.user.screen_name }}</span>
            <span>{{ tweet.user.created_at | date: "mediumDate" }}</span>
            <p>{{ tweet.text }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination controls-->
    <div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
